#Title {
    margin-top: 10px;
}

.width_60 {
    margin-top: 20px;
    width: 60%;
}

#image_id {
    margin-right: 1px;
    width: 95%;
}

#Hr_style {
    margin-top: 2vh;
    margin-bottom: 2vh;
}

#bkcolor {
    background-color: black;
    width: 100vw;
    height: 20vh;
}

.Row_Title {
    margin-top: 4vh;
}

#image_show {
    margin-top: 5px;
}

#image_btn {
    width: 29%;
}

#img_display {
    display: flex;
}

.Header_Img_style {
    height: 100%;
    width: auto !important;
}

#image_btn_SetImg {
    width: 100%;
}

/* #StoreImgStyle {
    height: 100px;
} */
